/* .container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 40%;
} */
 
@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
   }
  .drawsec{
    display:flex;
    width: 58%;
    height: 600px;
    height: 85vh;
  }
  .bottom{
    display:flex;
    flex-direction: column; 
  }
  
}

@media (max-width: 699px) {
  .container {
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: space-between;
   } 
  .bottom{
    display:flex;
    padding: 10px; 
  }
  hr{
    display: none;
  }
  button{
    height: 50px;
  }
}
.drawsec{   
  margin: 10px;
  padding: 20px 10px;
  background-color: orange;
   /* width: 100; */
  color: aliceblue;
  border-radius: 13px;
}
 
.App-header {
  background-color: #0e2338;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  /* padding: 0 70px; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.bottom{ 
  width: 6%;
  margin-right: 20px;
  /* background-color: gray; */
  justify-content:flex-start;
   gap: 15px;
}

 
button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: large;
  border: none;
  cursor: pointer;
}